<div layout="column" layout-align="center center" ng-controller="signUpController" class="vb-signUp">
  <h2>Sign Up</h2>
  <form name="signUpForm" layout="column" ng-submit="signUp()">
    <md-input-container>
      <label for="name">Name</label>
      <input type="text" id="name" ng-model="user.name">
    </md-input-container>
    <md-input-container>
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName" ng-model="user.companyName">
    </md-input-container>
    <md-input-container>
      <label for="mobile">Mobile</label>
      <input type="text" id="mobile" ng-model="user.mobile">
    </md-input-container>
    <md-input-container>
      <label for="email">Email</label>
      <input type="email" id="email" ng-model="user.email">
    </md-input-container>
    <md-input-container>
      <label for="password">Password</label>
      <input type="password" id="password" ng-model="user.password">
    </md-input-container>

    <md-input-container>
      <md-radio-group ng-model="user.userType">
        <md-radio-button value="user" class="primary">Sign Up As A User</md-radio-button>
        <md-radio-button value="artist">Sign Up As An Artist</md-radio-button>
        <md-radio-button value="admin">Sign Up As An Admin</md-radio-button>
      </md-radio-group>
    </md-input-container>

    <md-input-container layout="row" layout-align="center center">
      <md-button ng-click="signUp()">
        Sign Up
      </md-button>
    </md-input-container>
  </form>
</div>