<div ng-controller="dashboardController" layout="column" class="vb-dashboard">
  <table>
    <thead>
      <tr>
        <th>Request Type</th>
        <th>Date</th>
        <th>Accept</th>
        <th>Reject</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="request in dashboardData">
        <td>{{ request.type }}</td>
        <td>{{ request.createdOn | date: 'shortDate' }}</td>
        <td><a href="#" ng-class="request.userStatus === null ? '' : 'vb-disabled'"
               ng-click="updateStatus($event, request.id, 'accept')">Accept</a></td>
        <td><a href="#" ng-class="request.userStatus === null ? '' : 'vb-disabled'"
               ng-click="updateStatus($event, request.id, 'reject')">Decline</a></td>
        <td>{{ request.userStatus | uppercase }}</td>
      </tr>
    </tbody>
  </table>
</div>