<div ng-controller="dashboardController" layout="column" class="vb-dashboard">
  <table>
    <thead>
      <tr>
        <th>Request Type</th>
        <th>Date</th>
        <th>Accept</th>
        <th>Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="request in dashboardData">
        <td>{{ request.type }}</td>
        <td>{{ request.createdOn | date: 'shortDate' }}</td>
        <td><a href="#" ng-click="acceptRequest(request.id)">Accept</a></td>
        <td><a href="#" ng-click="rejectRequest(request.id)">Decline</a></td>
      </tr>
    </tbody>
  </table>
</div>