<div layout="column" layout-align="center center" ng-controller="loginController" class="vb-login">
  <h2>Login</h2>
  <form name="loginForm" layout="column" ng-submit="login()">
    <md-input-container>
      <label for="email">Email</label>
      <input type="email" id="email" ng-model="user.email">
    </md-input-container>
    <md-input-container>
      <label for="password">Password</label>
      <input type="password" id="password" ng-model="user.password">
    </md-input-container>
    <md-input-container layout="row" layout-align="center center">
      <md-button type="submit">
        Login
      </md-button>
    </md-input-container>
  </form>
</div>