.vb-login {
  padding-top: 6%;

  h2 {
    font-size: 28px;
    font-weight: 400;
    color: $secondary-color;
  }

  form {
    width: 35%;
  }

  .md-button {
    @include solid-inverted($secondary-color);
    font-size: 18px;
    padding: 0.5% 2%;
  }
  a {
    color: $secondary-color;
  }
}